.image_wrapper {
  --image-wrapper-height: 25dvh;

  width: 100%;
  height: var(--image-wrapper-height);
  background-color: var(--palette-background-default);
  overflow: hidden;
}

.image_container {
  --default-offset-top: calc(var(--gap) + 1px);
  --default-translate: calc(var(--default-offset-top) * -0.75);

  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(var(--default-translate));
}

.image {
  width: 100%;
  height: auto;
}
